<section class="scrollSection">
  <div class="carrouselSpace">
    <div class="carrouselBtn" id="leftBtn">&lt;</div>
    <div class="carrouselBtn" id="rightBtn">&gt;</div>
    <div id="carrousel">
    </div>
  </div>
  <div class="carrouselLink" id="rightLink">
    <h3 {{product.title}}>Titre Produit</h3>
    <P>Profitez de nos ventes exclusives !</P>
    <div id="carrouselBtnSection">
      <button href={{product}}>Voir Produit</button>
      <button href={{categories}}>Voir Categorie</button>
    </div>
  </div>
</section>