{{#if userInSession}}

 <h2>Welcome, {{userInSession.firstName}}!</h2>

<div id="updateSection">
  <div id="updateButton">
    <button id="userUpdates"><a href="/account">Vos informations !</a></button>
    <button id="userUpdates"><a href="/{{userInSession._id}}/account_edit">Modifiez vos informations !</a></button> <!-- renvoie sur le signup préremplis -->
    <form type="submit" action="/{{userInSession_id}}/account_delete"><button id="userUpdates">Effacez votre compte !</button></form>
    <form type="submit" action="/logout" method="POST"><button id="userUpdates">Déconnexion !</button></form>
  </div>
</div>  

<div class="returnZone">
    <button id="returnButton"><a href="/">Retour</a></button> <!-- renvoie vers la HomePage -->
</div>

{{else}}
  <p>Vous n'êtes plus connecté !</p>
{{/if}}

<!-- idée : afficher toutes les commandes toujours avec 8 commandes + bouton fonction % de 8 -->
<!--<div id="orders">
<h2>Vos Commandes</h2>
  <div id="ordersList">
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 1</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 2</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 3</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 4</h5>
    </div>
    <div class="order">
      <img src="" href="" alt="">
      <h5>Commande 5</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 6</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 7</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 8</h5>
    </div>
  </div>
  <div id="buttonProduct">
    <div class="radioButton" id="radioButton1"></div>
    <div class="radioButton" id="radioButton2"></div>
  </div>
</div> -->