<form id="categories_admin" action="/categories_new" method="post">
    <div>
        <label for="mainPhoto">Photo de la Catégorie</label>
        <img src="">
        <input type="file" name="categoryPhoto" accept=".jpg, .jpeg, .png"/>  
      </div>
    <div id="categoryInfo">
      <input name="categoryName" type="text" placeholder="Titre Catégorie"/>
      <input name="categoryDescription" type="text" placeholder="Description de la catégorie"/>
    </div>
    <div class="categorySubmission">
      <button id="createCategory" type="submit">Créer</button>
    </div>
</form>

<script src="/js/admin_categories_new.js"></script>
