<h2>Liste des Catégories</h2>
<div class="grid">
  {{#each categories}}
  <div id="productCard">
    <p>{{name}}</p>
    <div class="action">
      <a href="/admin_categories/{{_id}}"><p>Voir les détails des catégories</p></a>
      <a href="/admin_categories/{{_id}}/edit"><p>Edit</p></a>
      <form action="admin_categories/{{_id}}/delete" method="post"><button>Delete</button></form>
    </div>
  </div>
  {{/each}}
</div>


<p><a href="admin_categories_new">Ajouter une nouvelle catégorie</a></p>
<br>
<p><a href="/admin">Retour au dashboard</a></p>