<div id="category">
<h2>Titre Catégorie</h2> <!-- titre de la catégorie dois etre selectionné en fonction du click catégories -->
  <div id="categoryDescription">
    <p>Voici la description de la catégorie</p>
  </div>
</div>
<!-- idée : faire un partial car indentique à la homePage sauf le filtre pré-programmé -->
<div id="products">
<h2>Nos Produits</h2>
  <div id="filterZone">
    <button id="filter">Filtrez !</button> <!-- autofiltre sur la catégorie -->
  </div>
  <div id="productZone">
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 1</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 2</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 3</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 4</h5>
    </div>
    <div class="product">
      <img src="" href="" alt="">
      <h5>Produit 5</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 6</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 7</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 8</h5>
    </div>
  </div>
  <div id="buttonProduct">
    <div class="radioButton" id="radioButton1"></div>
    <div class="radioButton" id="radioButton2"></div>
  </div>
</div>
{{>footer}}