<div id="categories">
    <img src="/public/images/Serre-a-lancienne-autonome-Josephine-soubassement.jpg" href="#" alt="Verre Trempé" />
    <img src="/public/images/serre-adossee-39m-verte-en-polycarbonate-4mm-embase-green-protect.jpg" href="#" alt="Polycarbonate" />
    <img src="/public/images/serre-jardin-portico-gabriel-ash.jpg" href="#" alt="Serres Adossées" />
    <img src="/public/images/serre-Juliana.jpg" href="#" alt="Pré-commandes" />
    <img src="/public/images/téléchargement.jpeg" href="#" alt="Accessoires" />
    <img src="/public/images/images.jpeg" href="#" alt="Conseil" />
    <radio id="radioButtonLeft" class="radioButton" />
    <radio id="radioButtonCenter" class="radioButton" />
    <radio id="radioButtonRight" class="radioButton" />
</div>