<div id="categories">
<h2>Nos Catégories</h2>
  <div id="categoriesPhoto">
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/Serre-a-lancienne-autonome-Josephine-soubassement.jpg" href="#" alt="Verre Trempé" />
      </div>
      <p>Verre Trempé</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/serre-adossee-39m-verte-en-polycarbonate-4mm-embase-green-protect.jpg" href="#" alt="Polycarbonate" />
      </div>
      <p>Polycabonate</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/serre-jardin-portico-gabriel-ash.jpg" href="#" alt="Serres Adossées" />
      </div>
      <p>Adossées</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/serre-Juliana.jpg" href="#" alt="Pré-commandes" />
      </div>
      <p>Pré-commandes</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/téléchargement.jpeg" href="#" alt="Accessoires" />
      </div>
      <p>Accessoires</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/images.jpeg" href="#" alt="Conseil" />
      </div>
      <p>Conseils</p>
    </div>
  </div>
</div>
<!-- idée : afficher tout les produits avec un max de 8 produits par div + click bouton pour défilement + classement par top vente et nouveautés -->
<div id="products">
<h2>Nos Produits</h2>
  <div id="filterZone">
    <button id="filter">Filtrez !</button>
  </div>
  <div id="productZone">
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 1</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 2</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 3</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 4</h5>
    </div>
    <div class="product">
      <img src="" href="" alt="">
      <h5>Produit 5</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 6</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 7</h5>
    </div>
    <div class="product">
        <img src="" href="" alt="">
        <h5>Produit 8</h5>
    </div>
  </div>
  <div id="buttonProduct">
    <div class="radioButton" id="radioButton1"></div>
    <div class="radioButton" id="radioButton2"></div>
  </div>
</div>
<div id="footer">
  <div id="columnBlock">
    <div class="footerColumn" id="leftFooterColumn">
      <h3>Qui Sommes Nous ?</h3>
      <h4 id="company" href="#">Notre Société</h4>
      <h4 id="generalConditions" href="#">CGV</h4>
      <h4 id="paymentLaw" href="#">Paiement Sécurisé</h4>
      <h4 id="legal" href="#">Mentions Légales</h4>
    </div>
    <div class="footerColumn" id="rightFooterColumn">
      <h3>Contacts</h3>
      <div>
        <h4>Adresse</h4>
        <p>2, boulevard Albert 1er, 94130 Nogent sur Marne, France</p>
      </div>
      <div>
        <h4>Téléphone</h4>
        <p>+33(0)1.39.73.04.45</p>
      </div>
      <div>
        <h4>Email</h4>
        <p>contact@cielmonjardin.com</p>
      </div>
    </div>
  </div>
  <div id="credits">
    <p>made by Cécile&#xae;</p>
    <p>powered by Ironhack</p>
  </div>
</div>