<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>
      <nav>
      <ul>
        <li id="wrap-menu">
          <ul class="cat-menu">
            <li><a href="#">Serres en verre trempé</a></li>
            <li><a href="#">Serres en polycarbonate</a></li>
            <li><a href="#">Serres adossées</a></li>
          </ul>
          <ul>
            <li><a href="#">Serres en pré-commande</a></li>
          </ul>
          <ul class="cat-menu">
            <li><a href="#">Accessoires</a></li>
          </ul>
          <ul class="cat-menu">
            <li><a href="#">Conseils</a></li>
          </ul>
        </li>
      </ul>
    </nav>

      {{{body}}}

      <script src="/js/script.js"></script>
   </body>

</html>