<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{appTitle}}</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>

  <body>

    <header>
      <nav>
        <div class="nav-sides-container" id="menu-zone" >
          <div class="menuDisplay">
            <input type="checkbox" class="checkboxAnimation" id="menuAnimation">
            <label for="menuAnimation" class="menuBtn">
              <span class="menuIcon">&nbsp;</span>
            </label>
            <div class="menuIconBackground">&nbsp;</div>
            <div class="wrapped-menu" id="menuElement">
              <div class="menuList">
                <ul>
                  <li><a class="link" id="category-menu" href="#">Nos Serres</a></li>
                  <ul class="cat-hidden">
                    <li><a class="miniLink" href="#">Serres en Verre Trempé</a></li>
                    <li><a class="miniLink" href="#">Serres en Polycarbonate</a></li>
                    <li><a class="miniLink" href="#">Serres Adossées</a></li>
                  </ul>
                </ul>
                <ul>
                  <li><a class="link" href="#">Serres en pré-commande</a></li>
                </ul>
                <ul>
                  <li><a class="link" href="#">Accessoires</a></li>
                </ul>
                <ul>
                  <li><a class="link" href="#">Conseils</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div id="logo-container">
          <a href="/"><img id="logo" src="/images/ciel-mon-jardin--logo.jpg" alt="ciel-mon-jardin-logo" /></a>
        </div>
        <div id="cartLog" class="nav-sides-container">
          <div class="wrapped-account" id="accountZone">
            <img class="loginButton" id="loginLogo" src="/images/log.svg" alt="login">
          </div>
          <div id="cartZone">
            <img id="cartLogo" src="/images/shopping-cart.svg" alt="panier">
          </div>
        </div>
      </nav>
      <div id="header-bottom">
        <div id="separator"></div>
      </div>
      <div id="popup" class="downPopup">
        <div class="popupSection" id="popupCross">
          <div class="crossStyle"><a href="#" class="cross">&times;</a></div>
        </div>
        <div class="popupSection" id="popupContent">
          <a href="/login">Se Connecter</a>
          <a href="/signup">Créer Mon Compte</a>
        </div>
      </div>
    </header>

    {{{body}}}

    <script src="/js/layoutScript.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.27.2/axios.min.js"></script>
  </body>
</html>