<form id="loginPage">
  <div class="loginZone">
    <div class="loginSection">
      <input name="email" type="email" placeholder="email"/>
      <input name="password" type="password" placeholder="Mot de passe"/>
    </div>  
    <div class="actionButton">
      <button><a id="connexion" type="submit">Connexion !</a></button>
    </div>
  </div>
</form>