<h1>Products</h1>
<hr>
 
{{#each products}}
  <div class="action">
    <h3>{{productName}}</h3>
    <a href="/product/{{id}}">Voir les détails du produits</a>
    <a href="/product/{{id}}/edit">Editer</a>
    <form action="product/{{_id}}/delete" method="post"><button>Delete</button></form>
  </div>
  <hr>
{{/each}}