<form id="product_admin" method="post">
  <div id="product_adminLeft" class="product_adminColumn">
    <div id="productInfo" class="elementBlock">
      <input name="productName" type="text" placeholder="Titre Produit"/>
      <input name="productDescription" type="text" placeholder="Description du produit"/>
    </div>
    <div id="amountManagement" class="elementBlock">
      <div id="exVatZone">
        <input name="productCost" type="number" placeholder="Coutant HT"/>
        <input name="exVat" type="number" placeholder="Prix HT"/> <!-- fonction de l'attribut marge ci-dessous -->
        <input name="margin" type="number" placeholder="Marge réelle ou relative"/> <!-- condition js si présence de % -->
      </div>
      <div id="vatZone" class="elementBlock">
        <p>Prix TTC<span id="taxedPrice">0</span></p>
        <input name="vat" type="number" placeholder="Taux de TVA"/>
      </div>
      <div id="discountZone">
        <input name="discount" type="number" placeholder="Remise"/> <!-- condition js si présence de % -->
      </div>
    </div>
    <div id"materialZone" class="elementBlock">
      <input name="materials" type="text" placeholder="Matériau"/>
      <input name="materials" type="text" placeholder="Matériau"/>
      <input name="materials" type="text" placeholder="Matériau"/>
      <input name="materials" type="text" placeholder="Matériau"/>
    </div>
    <div id="sizeZone" class="elementBlock">
      <div id="productSize">
        <input name="productSize_length" type="number" placeholder="Longueur Produit en cm"/>
        <input name="productSize_width" type="number" placeholder="Largeur Produit en cm"/>
        <input name="productSize_height" type="number" placeholder="Hauteur Produit en cm"/>
        <input name="productSize_thickness" type="number" placeholder="Epaisseur Produit en cm"/>
        <input name="productSize_surface" type="number" placeholder="Surface Couverte par le Produit"/>
        <input name="productSize_weight" type="number" placeholder="Poids Produit en cm"/>
      </div>
      <div id="logisticZone" class="elementBlock">
        <div id="packagingSize">
          <input name="packagingSize_length" type="number" placeholder="Longueur Carton en cm"/>
          <input name="packagingSize_width" type="number" placeholder="Largeur Carton en cm"/>
          <input name="packagingSize_height" type="number" placeholder="Hauteur Carton en cm"/>
          <input name="packagingSize_weight" type="number" placeholder="Poids Carton en cm"/>
        </div>
        <div id="stockLevel" class="elementBlock">
          <input name="stock" type="number" placeholder="Stock Produit"/>
        </div>
      </div>
    </div>
  </div>
  <div id="product_adminRight" class="product_adminColumn">
    <div id="qualification" class="elementBlock">
      <input name="color" type="text" placeholder="Couleur Produit"/>
      <input name="brand" type="text" placeholder="Marque"/>
    </div>
    <div id="graphicElem" class="elementBlock"> 
      <div>
        <p>Photo Principale</p>
        <label for="mainPhoto">Photo Principale</label>
        <img src="">
        <input type="file" name="mainPhoto" accept=".jpg, .jpeg, .png"/>  
      </div>
      <div>
        <label for="otherPhotos">Autres Photos</label>
        <input type="file" name="otherPhotos" accept=".jpg, .jpeg, .png" multiple/>
      </div>
      <div>
        <label for="notice">Notice</label>
        <input name="notice" type="file" accept=".pdf"/>
      </div>
    </div>  
    <div class="elementBlock">
      <select>
        <label for="category" name="category">Catégories</label>
        <option>...</option>
        <option>Verre Trempé</option>
        <option>Polycarbonate</option>
        <option>Adossées</option>
        <option>Accessoires</option>
      </select>
    </div>
    <div class="elementBlock">
      <button id="createProduct" type="submit">Créer</button>
      <button id="editProduct" type="submit">Editer</button> <!-- LOT 2-->
      <button id="deleteProduct" type="submit">Supprimer</button> <!-- LOT 2-->
    </div>
  </div>
</form>

<script src="/js/product_adminScript.js"></script>