<form action="/signup" method="POST">
  <div class="signupBlock" id="typeOfCustomer">
    <div class="signupSection">
      <button><a id="individual">Particulier</a></button>
      <button><a id="company">Entreprise</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-blockk" id="companyProfile">
    <div class="signupSection">
      <input name="companyName" type="text" placeholder="Raison Sociale"/>
      <input name="vatNumber" type="text" placeholder="N° de TVA"/>
      <input name="regNumber" type="text" placeholder="Siret"/>
      <input name="nafCode" type="text" placeholder="Code APE / NAF"/>
    </div> 
    <div class="actionButton">
      <button><a id="previousCompany">Précédent</a></button>
      <button><a id="continueCompany">Suivant</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-blockk" id="userProfile">
    <div class="signupSection">
      <input name="firstName" type="text" placeholder="Prénom (requis)"/>
      <input name="lastName" type="text" placeholder="Nom (requis)"/>
      <input name="email" type="email" placeholder="email (requis)"/>
      <input name="phoneNumber" type="tel" placeholder="Téléphone (requis)"/>
      <input name="dateOfBirth" type="date" placeholder="JJ/MM/AAAA"/>
    </div>
    <div class="actionButton">
      <button><a id="previousUser">Précédent</a></button>
      <button><a id="continueUser">Suivant</a></button>
    </div>
  </div>
  <div class="signupBlock hidden-blockk" id="billingAdress">
    <div class="signupSection">
      <input name="countryName" type="text" placeholder="Pays (requis)"/>
      <input name="streetName" type="text" placeholder="Nom de la voie (requis)"/>
      <input name="streetNumber" type="text" placeholder="Numéro de la voie"/>
      <input name="zipCode" type="text" placeholder="Code Postal (requis)"/>
      <input name="cityName" type="text" placeholder="Ville (requis)"/>
    </div>  
    <div class="actionButton">
      <button><a id="previousAdress">Précédent</a></button>
      <button><a id="continueAdress">Suivant</a></button>
    </div>

  </div>
  <div class="signupBlock hidden-blockk" id="security">
    <div class="signupSection">
      <input name="password" type="password" placeholder="Mot de passe (requis)"/>
    </div>  
    <div class="actionButton">
      <button><a id="previousPassword">Précédent</a></button>
      <button><a id="registration" type="submit">Envoyer !</a></button>
    </div>
  </div>
</form>
{{#if message}}
  <p>{{message}}</p>
{{/if}}