<div class="signupSection" id="typeOfCustomer">
    <button><a id="individual" href="#">Particulier</a></button>
    <button><a id="company" href="#">Entreprise</a></button>
</div>
<div class="signupSection" id="companyProfile">
    <button><a id="companyName" href="#">Nom</a></button>
    <button><a id="vatNumber" href="#">N° de TVA</a></button>
    <button><a id="regNumber" href="#">Siret</a></button>
    <button><a id="nafCode" href="#">Code APE / NAF</a></button>
    <div class="actionButton">
      <button><a id="continue" href="#">Suivant</a></button>
      <button><a id="previous" href="#">Précédent</a></button>
    </div>
</div>
<div class="signupSection" id="userProfile">
    <button><a id="userFirstName" href="#">Prénom</a></button>
    <button><a id="userName" href="#">Nom</a></button>
    <button><a id="userEmail" href="#">email</a></button>
    <button><a id="userPhone" href="#">Téléphone</a></button>
    <button><a id="userDateOfBirth" href="#">JJ/MM/AAAA</a></button>
    <div class="actionButton">
      <button><a id="continue" href="#">Suivant</a></button>
      <button><a id="previous" href="#">Précédent</a></button>
    </div>
</div>
<div class="signupSection" id="billingAdress">
    <button><a id="country" href="#">Pays</a></button>
    <button><a id="streetName" href="#">Nom de la voie</a></button>
    <button><a id="streetNumber" href="#">Numéro de la voie</a></button>
    <button><a id="zipCode" href="#">Code Postal</a></button>
    <button><a id="city" href="#">Ville</a></button>
    <div class="actionButton">
      <button><a id="continue" href="#">Suivant</a></button>
      <button><a id="previous" href="#">Précédent</a></button>
    </div>
</div>

<div class="signupSection" id="security">
    <button><a id="password" href="#">Mot de passe</a></button>
    <div class="actionButton">
      <button><a id="registration" href="#">Je m'enregistre !</a></button>
      <button><a id="previous" href="#">Précédent</a></button>
    </div>
</div>