/*
██╗      █████╗ ██╗   ██╗ ██████╗ ██╗   ██╗████████╗
██║     ██╔══██╗╚██╗ ██╔╝██╔═══██╗██║   ██║╚══██╔══╝
██║     ███████║ ╚████╔╝ ██║   ██║██║   ██║   ██║   
██║     ██╔══██║  ╚██╔╝  ██║   ██║██║   ██║   ██║   
███████╗██║  ██║   ██║   ╚██████╔╝╚██████╔╝   ██║   
╚══════╝╚═╝  ╚═╝   ╚═╝    ╚═════╝  ╚═════╝    ╚═╝   
*/                                                    

body {
  margin: 0px;
  padding: 0px;
  font-family: 'lato', sans-serif;
  background-color:white;
  color: rgba(48, 48, 48, 1);
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  margin:0;
  padding-top: .5em;
  font-size: .8em;
  position: absolute;
}

.nav-sides-container {
  display: flex;
  flex-direction: row;
  width: 35%;
}

#logo-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#menu-zone {
  font-weight: bold;
}

/*
╔╦╗╔═╗╔╗╔╦ ╦  ╔╦╗╦╔═╗╔═╗╦  ╔═╗╦ ╦
║║║║╣ ║║║║ ║   ║║║╚═╗╠═╝║  ╠═╣╚╦╝
╩ ╩╚═╝╝╚╝╚═╝  ═╩╝╩╚═╝╩  ╩═╝╩ ╩ ╩ 
*/

.checkboxAnimation {
  display: none;
}

.menuIconBackground {
  height: 1em;
  width: 1em;
  padding-top: 2em;
  padding-left: 1em;
  position: absolute;
  background-image: radial-gradient(white, rgba(255, 255, 255, .8));
  z-index: 8;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}

.menuBtn {
  background-color: white;
  width: 2em;
  height: 2em;
  padding-top: 2em;
  padding-left: 1em;
  position: absolute;
  border-radius: 50%;
  z-index: 10;
  box-shadow: 0 1rem 3rem rgba(0,0,0,0 0.1);
  text-align: center;
  cursor: pointer;
}

.menuIcon {
  position: relative;
  width: 3.5em;
  height: .4vh;
  background-color: rgba(153,122, 26, 1);
  display: inline-block;
}

.menuIcon::before,
.menuIcon::after {
  width: 3.5em;
  height: .4vh;
  background-color: rgba(153,122, 26, 1);
  display: inline-block;
  content: "";
  position: absolute;
  left: 0;
  transition: all .2s;
}

.menuIcon::before {
  top: -.8em;
}

.menuIcon::after {
  top: .8em;
}

@media (max-width: 420px) {
  .menuList {
    position: absolute;
    margin-top: 30vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
    color: rgba(153,122, 26, 1);
    z-index: 9;
  }

  .link {
    display: inline-block;
    margin-top: 3vh;
    font-size: 1em;
    color: rgba(153,122, 26, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .miniLink {
    display: inline-block;
    margin-top: 2vh;
    font-size: 1em;
    color: rgba(153,122, 26, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .checkboxAnimation:checked ~ .menuIconBackground {
  transform: scale(32, 200);
  }
}

@media (min-width: 421px) {
  .menuList {
    position: absolute;
    margin-top: 30vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
    color: rgba(153,122, 26, 1);
    z-index: 9;
  }

  .link {
    display: inline-block;
    margin-top: 3vh;
    font-size: 2em;
    color: rgba(153,122, 26, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .miniLink {
    display: inline-block;
    margin-top: 2vh;
    font-size: 1em;
    color: rgba(153,122, 26, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .checkboxAnimation:checked ~ .menuIconBackground {
  transform: scale(70, 150);
  }
}

@media (min-width: 1024px) {
  .menuList {
    position: absolute;
    margin-top: 35vh;
    margin-left: 50%;
    transform: translate(-50%, -50%);
    list-style-type: none;
    text-align: center;
    width: 100%;
    color: rgba(153,122, 26, 1);
    z-index: 9;
  }

  .link {
    display: inline-block;
    margin-top: 3vh;
    font-size: 3em;
    color: rgba(153,122, 26, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .miniLink {
    display: inline-block;
    margin-top: 2vh;
    font-size: 1.5em;
    color: rgba(153,122, 26, 1);
    text-decoration: none;
    text-transform: uppercase;
  }

  .checkboxAnimation:checked ~ .menuIconBackground {
  transform: scale(140, 130);
  }
}

.checkboxAnimation:checked ~ .menuList {
  opacity: 1;
  width: 100%;
}

.checkboxAnimation:checked + .menuBtn .menuIcon {
  background-color: transparent;
}

.checkboxAnimation:checked + .menuBtn .menuIcon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkboxAnimation:checked + .menuBtn .menuIcon::after {
  top: 0;
  transform: rotate(-135deg);
}

#menu-zone a {
  text-decoration: none;
  color: rgba(153,122, 26, 1);
}

.wrapped-menu {
  display: none;
}

.unwrapped-menu {
  margin-top: 15vh;
}

.unwrapped-menu ul {
  list-style-type: none;
}

.cat-hidden {
  display: none;
}

.cat-visible {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

/*
╦  ╔═╗╔═╗╔═╗  ╔═╗╔═╗╔╗╔╔═╗
║  ║ ║║ ╦║ ║  ╔═╝║ ║║║║║╣ 
╩═╝╚═╝╚═╝╚═╝  ╚═╝╚═╝╝╚╝╚═╝
*/

#logo-container a {
  display: flex;
  justify-content: space-around;
}

#logo {
  width: 80%;
  height: auto;
  max-width: 200px;
  z-index: 10;
}

/*
╔═╗╔═╗╦═╗╔╦╗   ┬   ╦  ╔═╗╔═╗╦╔╗╔
║  ╠═╣╠╦╝ ║   ┌┼─  ║  ║ ║║ ╦║║║║
╚═╝╩ ╩╩╚═ ╩   └┘   ╩═╝╚═╝╚═╝╩╝╚╝
*/

@media (max-Width: 420px) {
  #cartLog {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

@media (min-Width: 421px) {
  #cartLog {
    display: flex;
    flex-direction: row;
    height: 100%;
  }

  #accountZone {
    padding-left: 20%;  
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#cartLog div {
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
}

@media (min-width: 1024px) {
  #cartLog div {
    width: 100%;
    height: 100%;
    padding-right: .5em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #accountZone {
    padding-left: 40%;  
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

#cartLog div img {
  width: 50%;
  height: 50%;
  z-index: 10;
  cursor: pointer;
}

.loginButton {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}

#cartLog div a {
  font-size: 1em;
  color: rgba(48, 48, 48, 1);
}

/*
╔═╗╔═╗╔═╗╔═╗╦═╗╔═╗╔╦╗╔═╗╦═╗
╚═╗║╣ ╠═╝╠═╣╠╦╝╠═╣ ║ ║ ║╠╦╝
╚═╝╚═╝╩  ╩ ╩╩╚═╩ ╩ ╩ ╚═╝╩╚═
*/

#header-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

@media (max-width: 420px) {
  #separator {
    margin-top: 20vh;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border-top: solid;
    border-top-width: .2em;
    border-color: rgba(56, 111, 72, 1);
  }
}

@media (min-width: 421px) {
  #separator {
    margin-top: 15vh;
  }
}

/*
╔═╗╔═╗╔═╗╦ ╦╔═╗  ╦  ╔═╗╔═╗╦╔╗╔
╠═╝║ ║╠═╝║ ║╠═╝  ║  ║ ║║ ╦║║║║
╩  ╚═╝╩  ╚═╝╩    ╩═╝╚═╝╚═╝╩╝╚╝
*/

#popup {
  margin-top: 7vh;
  display: flex;
  flex-direction: column;
  width: 90%;
  height: 50vh;
  margin-left: 4%;
  background-color: rgba(153,122, 26, 1);
  border-color: rgba(153,122, 26, 1);
  border-radius: 20px;
  border-style: double;
  border-width: .5em;
  color: white;
  position: absolute;
  z-index: 8;
  padding-bottom: 3em;
}

#popup a {
  font-size:3vh;
  margin: 1em;
  color: white;
}

#popup .popupSection {
  display: flex;
  flex-direction: column;
}

@media (min-width: 1024px) {
  #popup .popupSection {
    display: flex;
    flex-direction: row;
  }

  #popup .popupSection .crossStyle {
    display: flex;
    flex-direction: right;
  }

  #popupContent a {
    display: flex;
    align-items: center;
  }
}

.crossStyle {
  display: flex;
  justify-content: right;
}

#popupContent {
  height: 100%;
  display: flex;
  justify-content: space-around;
}

#popup div .crossStyle .cross {
  margin: 0;
  padding-right: .2em;
  font-size: 5vh;
}

.downPopup {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(255, 255, 255, .8);
  transition: opacity 0.8s;
  visibility: hidden;
  opacity: 0;
}

.upPopup {
  visibility: visible;
  opacity: 1;
}

/*
██╗  ██╗ ██████╗ ███╗   ███╗███████╗██████╗  █████╗  ██████╗ ███████╗
██║  ██║██╔═══██╗████╗ ████║██╔════╝██╔══██╗██╔══██╗██╔════╝ ██╔════╝
███████║██║   ██║██╔████╔██║█████╗  ██████╔╝███████║██║  ███╗█████╗  
██╔══██║██║   ██║██║╚██╔╝██║██╔══╝  ██╔═══╝ ██╔══██║██║   ██║██╔══╝  
██║  ██║╚██████╔╝██║ ╚═╝ ██║███████╗██║     ██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═╝     ╚═╝╚══════╝╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝                                                                   
*/

/*
╔═╗╔═╗╦═╗╦═╗╔═╗╦ ╦╔═╗╔═╗╦    ╔═╗╔═╗╦═╗╔╦╗╦╔═╗╦  
║  ╠═╣╠╦╝╠╦╝║ ║║ ║╚═╗║╣ ║    ╠═╝╠═╣╠╦╝ ║ ║╠═╣║  
╚═╝╩ ╩╩╚═╩╚═╚═╝╚═╝╚═╝╚═╝╩═╝  ╩  ╩ ╩╩╚═ ╩ ╩╩ ╩╩═╝
*/

@media (max-width: 1023px) {
  .scrollSection {
    display: none;
  }
}

@media (min-width: 1024px) {
  .scrollSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 640px;
    margin-top: 15vh;
  }
  
  .carrouselSpace {
    display: flex;
    flex-direction: row;
    width: 1280px;
    background-color: rgba(56, 111, 72, 1);
    position: relative;
    overflow: hidden;
  }

  #carrousel {
    display: flex;
    flex-direction: row;
    width: 1280px;
    height: 640px;
    color: white;
    z-index: 6;
  }

  .carrouselBtn {
    color: white;
    font-size: 10vh;
    font-weight: bold;
    position: absolute;
    cursor: pointer;
    z-index: 9;
  }

  .carrouselBtn:hover {
    transform: scale(1.1);
  }

  .photo {
    width: 1280px;
    height: 640px;
    margin: 0;
    display: inline-block;
    background-size: cover;
  }

  #rightLink {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 70%;
    width: 30%;
    height: 640px;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0 100%);
    background-color: rgba(56, 111, 72, .8);
    z-index: 7;
    position: absolute;
  }

  /*#leftLink {
    display: flex;
    flex-direction: column;
    width: 30.5%;
    height: 640px;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    background-color: rgba(56, 111, 72, .8);
    z-index: 7;
    position: absolute;
  }*/

  #leftBtn {
    margin-top: 250px;
    margin-left: 1%;
    z-index: 7;
  }

  #rightBtn {
    margin-top: 250px;
    margin-left: 95%;
    z-index: 7;
  }
}

.carrouselLink h3 {
  margin-bottom: 20vh;
  text-align: center;
}

.carrouselLink p {
  margin-bottom: 15vh;
  text-align: center;
}

#carrouselBtnSection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#carrouselBtnSection button {
  width: 10em;
  height: 5vh;
  background-color: white;
  margin: 5em;
  border-radius: 20px;
  border: solid;
  border-width: .5em;
  border-color: rgba(56, 111, 72, 1);
  color: rgba(56, 111, 72, 1);
  font-weight: bold;
  cursor: pointer;
}

.carrouselBtnSection button:hover {
  transform: scale(1.1);
}


/*
╔═╗╔═╗╔╦╗╔═╗╔═╗╔═╗╦═╗╦╔═╗╔═╗    ╔═╗╔═╗╦═╗╔╦╗╦╔═╗╦  
║  ╠═╣ ║ ║╣ ║ ╦║ ║╠╦╝║║╣ ╚═╗    ╠═╝╠═╣╠╦╝ ║ ║╠═╣║  
╚═╝╩ ╩ ╩ ╚═╝╚═╝╚═╝╩╚═╩╚═╝╚═╝    ╩  ╩ ╩╩╚═ ╩ ╩╩ ╩╩═╝
*/

#categories {
  margin-top: 10vh;
  width: 100%;
  height: 35vh;
  display: flex;
  flex-direction: column;
}

#categories h2 {
  text-align: center;
  height: 6vh;
  width: 100%;
  min-width: 10em;
  font-size: 4vh;
}

.categoryBlock {
  display: flex;
  flex-direction: column;
  margin: 0;
  width: 50%;
  height: 20vh;
  justify-content: center;
  align-items: center;
}

#categoriesPhoto {
  margin-top: 2vh;
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 25vh;
  overflow: scroll;
}

#categoriesPhoto::-webkit-scrollbar {
  display: none;
}

.backgroundImage {
  margin: 0;
  clip-path: circle(40%);
  width: 8em;
  height: 16vh;
  background-color: rgba(153,122, 26, 1);
}

.categoryBlock img {
  clip-path: circle(40%);
  width: 8em;
  height: 16vh;
  opacity: 1;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
}

.categoryBlock img:hover {
  scale: 105%;
  opacity: .6;
}

.categoryBlock p {
  width: 100%;
  height: 3vh;
  margin-top: .2vh;
  font-size: .8em;
  font-weight: bold;
  color: rgba(153,122, 26, 1);
  text-align: center;
}

/*
╔═╗╦═╗╔═╗╔╦╗╦ ╦╔═╗╔╦╗  ╔═╗╔═╗╦═╗╔╦╗╦╔═╗╦  
╠═╝╠╦╝║ ║ ║║║ ║║   ║   ╠═╝╠═╣╠╦╝ ║ ║╠═╣║  
╩  ╩╚═╚═╝═╩╝╚═╝╚═╝ ╩   ╩  ╩ ╩╩╚═ ╩ ╩╩ ╩╩═╝
*/

@media (max-width: 420px) {

  #products {
    margin-top: 10vh;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
  }

  #productZone {
    padding-top: 3vh;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .product {
    width: 10em;
    height: 10vh;
    background-color: grey;
    margin: .3%;
  }
}

@media (min-width: 421px) {

  #products {
    margin-top: 5vh;
    width: 100%;
    height: 120vh;
    display: flex;
    flex-direction: column;
  }

  #productZone {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    justify-content: center;
  }

  .product {
    height: 20vh;
    width: 20em;
    background-color: grey;
    margin: .3%;
  }  
}

@media (min-width: 1024px) {

  #products {
    margin-top: 5vh;
    width: 80%;
    margin-left: 10%;
    margin-left: 10%;
    height: 120vh;
    display: flex;
    flex-direction: column;
  }

  #productZone {
    padding-top: 5vh;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    justify-content: center;
  }

  .product {
    height: 25vh;
    width: 25em;
    background-color: grey;
    margin: .3%;
  } 
}

#products h2 {
  text-align: center;
  height: 6vh;
  width: 100%;
  min-width: 10em;
  font-size: 4vh;
  }

#filter {
  width: 30%;
  max-width: 10em;
  height: 5vh;
  background-color: rgba(153,122, 26, 1);
  border: solid;
  border-color: rgba(153,122, 26, .8);
  border-radius: 50px;
  margin-inline: 2em;
  font-size: 2vh;
  color: white;
  font-weight: bold;
  box-shadow: .2em .2em .2em .2em rgba(153,122, 26, .4);
}

#buttonProduct {
  margin-top: 2vh;
  width: 100%;
  Height: 3vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.radioButton { /* créer le nombre de bouton correspondant au nombre de div - produits */
  width: 1em;
  height: 1em;
  border-radius: 50px;
  background: rgba(153,122, 26, 1);
  margin-inline: 2em;
}


/*
███████╗██╗ ██████╗ ███╗   ██╗██╗   ██╗██████╗ 
██╔════╝██║██╔════╝ ████╗  ██║██║   ██║██╔══██╗
███████╗██║██║  ███╗██╔██╗ ██║██║   ██║██████╔╝
╚════██║██║██║   ██║██║╚██╗██║██║   ██║██╔═══╝ 
███████║██║╚██████╔╝██║ ╚████║╚██████╔╝██║     
╚══════╝╚═╝ ╚═════╝ ╚═╝  ╚═══╝ ╚═════╝ ╚═╝     
*/ 

.signupBlock {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
}

.signupSection {
  display: flex;
  flex-direction: column;
  padding-bottom: 8vh;
  padding-top: 5vh;
}

.signupSection input {
  min-width: 20em;
  min-height: 5vh;
  background-color: rgba(115, 110, 110, 1);
  border: solid;
  border-color: rgba(115, 110, 110, .8);
  color: white;
  font-weight: bold;
  box-shadow: .2em .2em .2em .2em rgba(115, 110, 110, .4);
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, .4);
  border-bottom-color: rgba(255, 255, 255, .4);
  margin-top: 1.5vh
}

a {
  font-weight: bold;
  color: white;
  font-size: 1.5em;
  text-decoration: none;
}

::placeholder {
  color: rgba(255, 255, 255, .4);
  font-size: 1em;
}

.actionButton {
  display: flex;
  flex-direction: row;
  padding-bottom: 2vh;
}

.actionButton button {
  min-width: 10em;
  height: 3em;
  background-color: rgba(153,122, 26, 1);
  border: solid;
  border-radius: 50px;
  border-color: rgba(153,122, 26, .8);
  margin-inline: 2em;
  box-shadow: .2em .2em .2em .2em rgba(153,122, 26, .4);
  cursor: pointer;
}

.hidden-block {
  display: none;
}

/*
╔╦╗╦ ╦╔═╗╔═╗  ╔═╗╔═╗  ╔═╗╦ ╦╔═╗╔╦╗╔═╗╔╦╗╔═╗╦═╗
 ║ ╚╦╝╠═╝║╣   ║ ║╠╣   ║  ║ ║╚═╗ ║ ║ ║║║║║╣ ╠╦╝
 ╩  ╩ ╩  ╚═╝  ╚═╝╚    ╚═╝╚═╝╚═╝ ╩ ╚═╝╩ ╩╚═╝╩╚═
*/

#typeOfCustomer button {
  width: 25em;
  height: 3em;
  background-color: rgba(153,122, 26, 1);
  border: solid;
  border-radius: 50px;
  border-color: rgba(153,122, 26, .8);
  margin-inline: 2em;
  box-shadow: .2em .2em .2em .2em rgba(153,122, 26, .4);
  cursor: pointer;
}

button {
  margin-top: 3vh;
}

/*
 ██████╗ █████╗ ████████╗███████╗ ██████╗  ██████╗ ██████╗ ██╗███████╗███████╗    ██████╗  █████╗  ██████╗ ███████╗        
██╔════╝██╔══██╗╚══██╔══╝██╔════╝██╔════╝ ██╔═══██╗██╔══██╗██║██╔════╝██╔════╝    ██╔══██╗██╔══██╗██╔════╝ ██╔════╝        
██║     ███████║   ██║   █████╗  ██║  ███╗██║   ██║██████╔╝██║█████╗  ███████╗    ██████╔╝███████║██║  ███╗█████╗          
██║     ██╔══██║   ██║   ██╔══╝  ██║   ██║██║   ██║██╔══██╗██║██╔══╝  ╚════██║    ██╔═══╝ ██╔══██║██║   ██║██╔══╝          
╚██████╗██║  ██║   ██║   ███████╗╚██████╔╝╚██████╔╝██║  ██║██║███████╗███████║    ██║     ██║  ██║╚██████╔╝███████╗        
 ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝    ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝                                                                                                                                                                                                                                     
*/

#category {
  margin-top: 10vh;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
}

#category h2 {
  text-align: center;
  height: 5vh;
  width: 50%;
  min-width: 10em;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 1vh;
  font-size: 2vh;
  background-color: rgba(48, 48, 48, 1);
}

#categoryDescription {
  height: 25vh;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border: solid;
  border-color: rgba(48, 48, 48, 1);
  border-width: .2em;
}

#categoryDescription p {
  color: rgba(48, 48, 48, 1);
  text-align: left;
}

/*
╔═╗╦═╗╔═╗╔╦╗╦ ╦╔═╗╔╦╗╔═╗
╠═╝╠╦╝║ ║ ║║║ ║║   ║ ╚═╗
╩  ╩╚═╚═╝═╩╝╚═╝╚═╝ ╩ ╚═╝  => voir section product de HomePage
*/

/*
 █████╗  ██████╗ ██████╗ ██████╗ ██╗   ██╗███╗   ██╗████████╗    ██████╗  █████╗  ██████╗ ███████╗
██╔══██╗██╔════╝██╔════╝██╔═══██╗██║   ██║████╗  ██║╚══██╔══╝    ██╔══██╗██╔══██╗██╔════╝ ██╔════╝
███████║██║     ██║     ██║   ██║██║   ██║██╔██╗ ██║   ██║       ██████╔╝███████║██║  ███╗█████╗  
██╔══██║██║     ██║     ██║   ██║██║   ██║██║╚██╗██║   ██║       ██╔═══╝ ██╔══██║██║   ██║██╔══╝  
██║  ██║╚██████╗╚██████╗╚██████╔╝╚██████╔╝██║ ╚████║   ██║       ██║     ██║  ██║╚██████╔╝███████╗
╚═╝  ╚═╝ ╚═════╝ ╚═════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚══════╝                                                                                               
*/

#updateSection {
  margin-top: 5vh;
  width: 100%;
  height: 5vh;
  display: flex;
  justify-content: center;
}

#updateButton button {
  width: 25em;
  height: 3em;
  background-color: rgba(153,122, 26, 1);
  border: solid;
  border-radius: 50px;
  border-color: rgba(153,122, 26, .8);
  margin-inline: 2em;
  box-shadow: .2em .2em .2em .2em rgba(153,122, 26, .4);
  color: white;
  font-weight: bold;
  font-size: 2vh;
}

#updateButton button a {
  font-size: 1em;
}

#orders {
  margin-top: 5vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

#orders h2 {
  margin-top: 3vh;
  margin-bottom: 5vh;
  text-align: center;
  align-items: center;
  height: 5vh;
  width: 50%;
  min-width: 10em;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 2vh;
  font-size: 2vh;
  background-color: rgba(48, 48, 48, 1);
}

#orderList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order {
  background-color:rgba(56, 111, 72, 1);
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.returnZone {
  margin-top: 2vh;
  margin-bottom: 5vh;
  width: 100%;
  display: flex;
  justify-content: center;
}

#returnButton {
  min-width: 10em;
  height: 5vh;
  background-color: rgba(153,122, 26, 1);
  border: solid;
  border-radius: 50px;
  border-color: rgba(153,122, 26, .8);
  box-shadow: .2em .2em .2em .2em rgba(153,122, 26, .4);
  color: white;
  font-weight: bold;
}

#returnButton a {
  font-size: 1em;
}

/*
██╗      ██████╗  ██████╗ ██╗███╗   ██╗
██║     ██╔═══██╗██╔════╝ ██║████╗  ██║
██║     ██║   ██║██║  ███╗██║██╔██╗ ██║
██║     ██║   ██║██║   ██║██║██║╚██╗██║
███████╗╚██████╔╝╚██████╔╝██║██║ ╚████║
╚══════╝ ╚═════╝  ╚═════╝ ╚═╝╚═╝  ╚═══╝                                      
*/

#loginPage {
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}

.loginZone {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

.loginSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginSection input {
  min-width: 20em;
  min-height: 5vh;
  background-color: rgba(115, 110, 110, 1);
  border: solid;
  border-color: rgba(115, 110, 110, .8);
  color: white;
  font-weight: bold;
  box-shadow: .2em .2em .2em .2em rgba(115, 110, 110, .4);
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, .4);
  border-bottom-color: rgba(255, 255, 255, .4);
  margin-top: 1.5vh
}

.loginZone .actionButton {
  margin-top: 10vh;
  display: flex;
  justify-content: center;
}

.loginZone .actionButton button {
  width: 15em;
  height: 5vh;
}


/*
██████╗ ██████╗  ██████╗ ██████╗ ██╗   ██╗ ██████╗████████╗      █████╗ ██████╗ ███╗   ███╗██╗███╗   ██╗
██╔══██╗██╔══██╗██╔═══██╗██╔══██╗██║   ██║██╔════╝╚══██╔══╝     ██╔══██╗██╔══██╗████╗ ████║██║████╗  ██║
██████╔╝██████╔╝██║   ██║██║  ██║██║   ██║██║        ██║        ███████║██║  ██║██╔████╔██║██║██╔██╗ ██║
██╔═══╝ ██╔══██╗██║   ██║██║  ██║██║   ██║██║        ██║        ██╔══██║██║  ██║██║╚██╔╝██║██║██║╚██╗██║
██║     ██║  ██║╚██████╔╝██████╔╝╚██████╔╝╚██████╗   ██║███████╗██║  ██║██████╔╝██║ ╚═╝ ██║██║██║ ╚████║
╚═╝     ╚═╝  ╚═╝ ╚═════╝ ╚═════╝  ╚═════╝  ╚═════╝   ╚═╝╚══════╝╚═╝  ╚═╝╚═════╝ ╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝                                                                                                     
*/

/*
╔═╗╔╦╗╔╦╗╦╔╗╔    ╔═╗╦═╗╔═╗╔╦╗╦ ╦╔═╗╔╦╗   ╔╗╔╔═╗╦ ╦
╠═╣ ║║║║║║║║║    ╠═╝╠╦╝║ ║ ║║║ ║║   ║    ║║║║╣ ║║║
╩ ╩═╩╝╩ ╩╩╝╚╝────╩  ╩╚═╚═╝═╩╝╚═╝╚═╝ ╩────╝╚╝╚═╝╚╩╝
*/

#product_admin {
  display: flex;
  flex-direction: row;
  margin-top: 10vh;
  width: 100%;
  height: 100%;
}

.product_adminColumn .elementBlock input {
  min-width: 20em;
  min-height: 5vh;
  background-color: rgba(115, 110, 110, 1);
  border: solid;
  border-color: rgba(115, 110, 110, .8);
  color: white;
  font-weight: bold;
  box-shadow: .2em .2em .2em .2em rgba(115, 110, 110, .4);
  font-size: 1em;
  text-align: center;
  color: rgba(255, 255, 255, .4);
  border-bottom-color: rgba(255, 255, 255, .4);
  margin-top: 1.5vh
}

#product_adminLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#product_adminRight {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

}

.product_adminColumn {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding-left: .5%;
  padding: .5%;
}

.elementBlock {
  margin-top: 3vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*
╔═╗╔╦╗╔╦╗╦╔╗╔    ╔═╗╦═╗╔═╗╔╦╗╦ ╦╔═╗╔╦╗   ╔═╗╔╦╗╦╔╦╗
╠═╣ ║║║║║║║║║    ╠═╝╠╦╝║ ║ ║║║ ║║   ║    ║╣  ║║║ ║ 
╩ ╩═╩╝╩ ╩╩╝╚╝────╩  ╩╚═╚═╝═╩╝╚═╝╚═╝ ╩────╚═╝═╩╝╩ ╩ 
*/

input {
  color: white;
  background-color: rgba(115, 110, 110, 1);
}


/*
 █████╗ ██████╗ ███╗   ███╗██╗███╗   ██╗         ██████╗ █████╗ ████████╗███████╗ ██████╗  ██████╗ ██████╗ ██╗███████╗███████╗
██╔══██╗██╔══██╗████╗ ████║██║████╗  ██║        ██╔════╝██╔══██╗╚══██╔══╝██╔════╝██╔════╝ ██╔═══██╗██╔══██╗██║██╔════╝██╔════╝
███████║██║  ██║██╔████╔██║██║██╔██╗ ██║        ██║     ███████║   ██║   █████╗  ██║  ███╗██║   ██║██████╔╝██║█████╗  ███████╗
██╔══██║██║  ██║██║╚██╔╝██║██║██║╚██╗██║        ██║     ██╔══██║   ██║   ██╔══╝  ██║   ██║██║   ██║██╔══██╗██║██╔══╝  ╚════██║
██║  ██║██████╔╝██║ ╚═╝ ██║██║██║ ╚████║███████╗╚██████╗██║  ██║   ██║   ███████╗╚██████╔╝╚██████╔╝██║  ██║██║███████╗███████║
╚═╝  ╚═╝╚═════╝ ╚═╝     ╚═╝╚═╝╚═╝  ╚═══╝╚══════╝ ╚═════╝╚═╝  ╚═╝   ╚═╝   ╚══════╝ ╚═════╝  ╚═════╝ ╚═╝  ╚═╝╚═╝╚══════╝╚══════╝                                                                                                                          
*/


/*
╔═╗╔╦╗╔╦╗╦╔╗╔    ╔═╗╔═╗╔╦╗╔═╗╔═╗╔═╗╦═╗╦╔═╗╔═╗    ╦  ╦╔═╗╔╦╗
╠═╣ ║║║║║║║║║    ║  ╠═╣ ║ ║╣ ║ ╦║ ║╠╦╝║║╣ ╚═╗    ║  ║╚═╗ ║ 
╩ ╩═╩╝╩ ╩╩╝╚╝────╚═╝╩ ╩ ╩ ╚═╝╚═╝╚═╝╩╚═╩╚═╝╚═╝────╩═╝╩╚═╝ ╩ 
*/


#categoryList {
  width: 100%;
  margin-top: 15vh;
  color: rgba(48, 48, 48, 1)
}

#categoryList > h2 {
  display: inherit;
  height: 10vh;
  text-align: center;
}

.grid {
  width: 100%;
  height: 100%;
  margin-top: 5vh;
}

#categoryCard p {
  color: rgba(115, 110, 110, 1);
}



#categories_admin input {
  background-color: rgba(115, 110, 110, 1);
}



#productCard a {
  color: rgba(115, 110, 110, 1);
}

/*
███████╗ ██████╗  ██████╗ ████████╗███████╗██████╗ 
██╔════╝██╔═══██╗██╔═══██╗╚══██╔══╝██╔════╝██╔══██╗
█████╗  ██║   ██║██║   ██║   ██║   █████╗  ██████╔╝
██╔══╝  ██║   ██║██║   ██║   ██║   ██╔══╝  ██╔══██╗
██║     ╚██████╔╝╚██████╔╝   ██║   ███████╗██║  ██║
╚═╝      ╚═════╝  ╚═════╝    ╚═╝   ╚══════╝╚═╝  ╚═╝                                               
*/

#footer {
  margin-top: 13vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(48, 48, 48, 1);
  height: 32vh;
  color: white;
}

#columnBlock {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footerColumn {
  display: flex;
  flex-direction: column;
  width: 45%;
}

h3 {
  font-size: 3vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h4 {
  font-size: 2vh;
  margin-top: .1vh;
  margin-bottom: .1vh;
}

#leftFooterColumn h4, h3 {
  text-align: left;
}

#rightFooterColumn h3, h4, p {
  text-align: right;
}

#footer p {
  font-size: 1.5vh;
}

#credits {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#credits p {
  font-size: 1.5vh;
  font-weight: bold;
}