body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  color:white;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  margin:0;
  padding-top: .5em;
  font-size: .8em;
  position: sticky;
}

.nav-sides-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#logo-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#menuHamburger {
  padding-left: 1em;
  background: white;
  width: 40%;
  height: 40%;
}

.wrap-menu {
  display: none;
}

/*nav > ul {
  width: 30%;
  display: flex;
  flex-direction: column;
  text-align: left;
  margin-left: 0;
}*/

nav ul {
  list-style-type: none;
}

nav > ul > li {
  margin:0;
  background-color: white;
  position: relative;
  height: 100%;
  flex: 1;
}

nav > ul > li:hover > a{
  color: #2169EC;
}

nav > ul > li > a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

li a {
  text-decoration: none;
  color: rgba(115 110 110 1);
}

#wrap-menu > a:after{
  content: '>';
  font-size: .8em;
  display: inline-block;
}

#wrap-menu:hover > a:after{
  animation: rotationFleche 0.2s linear forwards;
}

@keyframes rotationFleche {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(45deg);
  }
  100%{
    transform: rotate(90deg);
  }
}

.cat-menu {
  margin-top: var(--hauteur-menu);
  width: 100%;
  text-align: left;
  overflow: hidden;
  max-height: 0;
  border-radius: 2px;
  background-color: white;
}

.wrap-menu:hover > .sous-menu {
  animation: apparitionSousMenu 1s forwards;
}

@keyframes apparitionSousMenu {
  0% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0);
    border-top: 3px solid #2169EC;
  }
  30% {
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
  100% {
    max-height: 50em;
    border-top: 3px solid #2169EC;
    box-shadow: 0px 3px 3px 1px rgba(0,0,0,0.3);
  }
}

.cat-menu > li:hover {
  background-color: rgba(33, 105, 236, 0.3);
}

.cat-menu > li > a {
  align-items: center;
  display: flex;
  height: 50px;
  padding-left: 20px;
  width: 100%;
}

.cat-menu > li:hover > a {
  color: white;
}

#logo-container {
  align-items: center;
}

#logo {
  width: 80%;
  height: auto;
  max-width: 140px;
}

#header-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#separator {
  width: 60%;
  border-top: solid;
  border-top-width: .2em;
  border-color: rgba(56, 111, 72, 1);
  margin-left: auto;
  margin-right: auto;
}


#account-zone {
  width: 100%;
  height: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
  justify-content: center;
}

#account-zone > button {
  width: 8em;
  height: 3em;
  background-color: rgba(115, 110, 110, 1);
  border: solid;
  border-color: rgba(115, 110, 110, .8);
  border-radius: 50px;
  margin-inline: 2em;
  color: white;
  font-weight: bold;
  box-shadow: .2em .2em .2em .2em rgba(115, 110, 110, .4);
}