body {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
  color:white;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 15vh;
  margin:0;
  padding-top: .5em;
  font-size: .8em;
  position: sticky;
}

.nav-sides-container {
  display: flex;
  flex-direction: column;
  width: 35%;
}

#logo-container {
  display: flex;
  flex-direction: column;
  width: 30%;
}

#menu-zone {
  font-weight: bold;
}

#menu-zone a {
  text-decoration: none;
  color: rgba(56, 111, 72, 1);
}

#menu-zone a:hover {
  color: rgba(153,122, 26, 1);
}

#menuHamburger {
  padding-left: 1em;
  background: white;
  width: 40%;
  height: 40%;
}

.wrapped-menu {
  display: none;
}

.unwrapped-menu {
  position: absolute;
  width: 80%;
  max-width: 30em;
  margin-top: 15.5vh;
  margin-left: 10%;
  flex-direction: column;
  background-color: white;
  border: solid;
  border-width: .2em;
  border-color: rgba(56, 111, 72, 1);
  border-radius: 20px;
}

.unwrapped-menu ul {
  list-style-type: none;
}

.unwrapped-menu > ul > li > a {
  font-size: 1.5em;
}


.cat-hidden {
  display: none;
}

.cat-visible {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}

#logo-container {
  align-items: center;
}

#logo {
  width: 80%;
  height: auto;
  max-width: 140px;
}

#header-bottom {
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
}

#separator {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  border-top: solid;
  border-top-width: .2em;
  border-color: rgba(56, 111, 72, 1);
  margin-left: auto;
  margin-right: auto;
}

#account-zone {
  width: 100%;
  height: 3em;
  padding-top: .5em;
  padding-bottom: .5em;
  justify-content: center;
}

#account-zone > button {
  width: 8em;
  height: 3em;
  background-color: rgba(115, 110, 110, 1);
  border: solid;
  border-color: rgba(115, 110, 110, .8);
  border-radius: 50px;
  margin-inline: 2em;
  color: white;
  font-weight: bold;
  box-shadow: .2em .2em .2em .2em rgba(115, 110, 110, .4);
}