<div id="categories">
<h2>Nos Catégories</h2>
  <div id="categoriesPhoto">
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/Serre-a-lancienne-autonome-Josephine-soubassement.jpg" href="#" alt="Verre Trempé" />
      </div>
      <p>Verre Trempé</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/serre-adossee-39m-verte-en-polycarbonate-4mm-embase-green-protect.jpg" href="#" alt="Polycarbonate" />
      </div>
      <p>Polycabonate</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/serre-jardin-portico-gabriel-ash.jpg" href="#" alt="Serres Adossées" />
      </div>
      <p>Adossées</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/serre-Juliana.jpg" href="#" alt="Pré-commandes" />
      </div>
      <p>Pré-commandes</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/téléchargement.jpeg" href="#" alt="Accessoires" />
      </div>
      <p>Accessoires</p>
    </div>
    <div class="categoryBlock">
      <div class="backgroundImage">
        <img src="/images/images.jpeg" href="#" alt="Conseil" />
      </div>
      <p>Conseils</p>
    </div>
  </div>
</div>