<div id="updateSection">
  <div id="updateButton">
      <button id="userUpdates"><a href="/signup">Modifiez vos informations !</a></button> <!-- renvoie sur le signup préremplis -->
  </div>
</div>  
<!-- idée : afficher toutes les commandes toujours avec 8 commandes + bouton fonction % de 8 -->
<div id="orders">
<h2>Vos Commandes</h2>
  <div id="ordersList">
    <div class="order">
        <img src="" href="" alt=""> <!-- changer par éléments de commande -->
        <h5>Commande 1</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 2</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 3</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 4</h5>
    </div>
    <div class="order">
      <img src="" href="" alt="">
      <h5>Commande 5</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 6</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 7</h5>
    </div>
    <div class="order">
        <img src="" href="" alt="">
        <h5>Commande 8</h5>
    </div>
  </div>
  <div id="buttonProduct">
    <div class="radioButton" id="radioButton1"></div>
    <div class="radioButton" id="radioButton2"></div>
  </div>
</div>
<div class="returnZone">
    <button id="returnButton"><a href="/">Retour</a></button> <!-- renvoie vers la HomePage -->
</div>